<nav>
  <div class="title">
    <a href="/">Node Blog</a>
    <p>Made by &#10084;</p>
  </div>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/blogs/create">Create New Blog</a></li>
  </ul>
</nav>
