<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %> 

<body>
  <%- include('./partials/nav') %> 

      <div class="container about">
        <h2>About</h2>
      </div>
    <%- include('./partials/footer') %> 
    </body>
</body>
</html>